# .gitignore
# Erstmal alles ignorieren
*
!.gitignore

## Only include this folders
!/WioTerminal_UncannyEyes/
!/WioTerminal_UncannyEyes/**

!/Wio_Terminal_Rfm69_Receiver_Eyes/
!/Wio_Terminal_Rfm69_Receiver_Eyes/**



